@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*body {*/
/*  !*color: rgb(var(--foreground-rgb));*!*/
/*  !*background: linear-gradient(*!*/
/*  !*    to bottom,*!*/
/*  !*    transparent,*!*/
/*  !*    rgb(var(--background-end-rgb))*!*/
/*  !*  )*!*/
/*  !*  rgb(var(--background-start-rgb));*!*/
/*}*/

.card{
  /* margin-botton:20px;设置显示块，创建一个圆形 border-radius:8px;使用边框；边框设置为灰色200；创建中间阴影*/
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md
}

.primary-button{
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500
}

input,select,textarea {
  @apply rounded border p-2 outline-none ring-indigo-500 focus:ring;
}
